@use '../../../helpers/mixins' as *;
@use '../../../helpers/variables' as *;

.globe-menu-window {
    background-color: rgb(255, 255, 255);
    width: rem(131px);
    height: rem(195px);
    box-shadow: 0px rem(3px) rem(10px) #37464933;
    border-radius: rem(12px);
    position: absolute;
    z-index: 1000;
    right: rem(88px);
    top: rem(83.2px);
    
    @include desktop {
        right: rem(50px);
    }
}
