include ../info-field

.info-correspondency
    .info-correspondency__top
        .info-correspondency__top__title Dir. de correspondencia
    .info-correspondency__bottom
        .info-correspondency__bottom__field
            +field-info-policy('Datos', 'GRUP SISQUELLA SERVEIS PROFESSIONALS')
        .info-correspondency__bottom__field
            +field-info-policy('Población', 'MONTCADA CENTRE')
        .info-correspondency__bottom__field
            +field-info-policy('Código postal', '08110')
        .info-correspondency__bottom__field
            +field-info-policy('Dirección', 'PZ/ EGLESIA DE L’')
        .info-correspondency__bottom__field
            +field-info-policy('Número', '7')
        .info-correspondency__bottom__field
            +field-info-policy('Aclarador', 'BAJO')
    button.info-correspondency__top__button
            span.icon.edit.info-correspondency__top__button-icon
            span.info-correspondency__top__button-text  Actualizar