@font-face {
    font-family: "icon";
    src: url("fonts/icon.woff2") format("woff2"),
        url("fonts/icon.ttf") format("truetype"),
        url("fonts/icon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-palette-values --palette0 {
    font-family: "icon";
    base-palette: 0
}
.icon {
    /* Use !important to prevent extensions from overriding this font. */
    font-family: "icon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.palette0 {
    font-palette: --palette0;
    color: currentColor;
}


// Usados
.icon.user:before { content: "\f00d"; }
.icon.globe:before { content: "\f000"; }
.icon.arrow-dropdown:before { content: "\f00c"; }

// Pendientes
.icon.frameOn:before { content: "\f001"; }
.icon.frameOff:before { content: "\f002"; }
.icon.filter:before { content: "\f003"; }
.icon.file:before { content: "\f004"; }
.icon.close:before { content: "\f005"; }
.icon.clock:before { content: "\f006"; }
.icon.Chev-down:before { content: "\f007"; }
.icon.check:before { content: "\f008"; }
.icon.burger_menu:before { content: "\f009"; }
.icon.back:before { content: "\f00a"; }
.icon.arrow-right:before { content: "\f00b"; }
.icon.trash:before { content: "\f00e"; }
.icon.skip-right:before { content: "\f00f"; }
.icon.skip-left:before { content: "\f010"; }
.icon.power-off:before { content: "\f012"; }
.icon.phone:before { content: "\f013"; }
.icon.mail:before { content: "\f014"; }
.icon.lock:before { content: "\f015"; }

