@use '../helpers/variables' as *;
@use '../helpers/icons-variables' as *;
@include icon-content-classes;

// --- AQUI SOLO LOS @font-face ---
// FUENTE ICONOGAFICA
@font-face {
    font-family: "icon";
    src: url("fonts/icon.woff2") format("woff2"),
        url("fonts/icon.ttf") format("truetype"),
        url("fonts/icon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-palette-values --palette0 {
    font-family: "icon";
    base-palette: 0
}

// FUENTE Roboto
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
