@use '../helpers/variables' as *;

// FUENTE ICONOGAFICA
@font-face {
    font-family: "icon";
    src: url("fonts/icon.woff2") format("woff2"),
        url("fonts/icon.ttf") format("truetype"),
        url("fonts/icon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-palette-values --palette0 {
    font-family: "icon";
    base-palette: 0
}
.icon {
    /* Use !important to prevent extensions from overriding this font. */
    font-family: "icon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.palette0 {
    font-palette: --palette0;
    color: currentColor;
}


// Usados
.icon.user:before { content: $icon-user; }
.icon.globe:before { content: $icon-globe; }
.icon.arrow-dropdown:before { content: $icon-arrowDropdown; }
// Pendientes
.icon.frameOn:before { content: $icon-frameOn; }
.icon.frameOff:before { content: $icon-frameOff; }
.icon.filter:before { content: $icon-filter; }
.icon.file:before { content: $icon-file; }
.icon.close:before { content: $icon-close; }
.icon.clock:before { content: $icon-clock; }
.icon.chev-down:before { content: $icon-chevDown; }
.icon.check:before { content: $icon-check; }
.icon.burger_menu:before { content: $icon-burguerMenu; }
.icon.back:before { content: $icon-back; }
.icon.arrow-right:before { content: $icon-arrowRight; }
.icon.trash:before { content: $icon-trash; }
.icon.skip-right:before { content: $icon-skipRight; }
.icon.skip-left:before { content: $icon-skipLeft; }
.icon.power-off:before { content: $icon-powerOff; }
.icon.phone:before { content: $icon-phone; }
.icon.mail:before { content: $icon-mail; }
.icon.lock:before { content: $icon-lock; }



// FUENTE Roboto
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
