@font-face {
    font-family: "nav";
    src: url("fonts/nav.woff2") format("woff2"),
        url("fonts/nav.ttf") format("truetype"),
        url("fonts/nav.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.iconNav {
    /* Use !important to prevent extensions from overriding this font. */
    font-family: "nav" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@font-face {
    font-family: "logoNav";
    src: url("fonts/logoNav.woff2") format("woff2"),
        url("fonts/logoNav.ttf") format("truetype"),
        url("fonts/logoNav.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.iconLogo {
    /* Use !important to prevent extensions from overriding this font. */
    font-family: "logoNav" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.arrow-down:before {
    content: "\f000";
}

.user:before {
    content: "\f001";
}

.globe:before {
    content: "\f002";
}

.logo:before {
    content: "\f005";
}