@use '../../helpers/mixins' as *;
@use '../../helpers/variables' as *;
@use '../../helpers/icons-variables' as *;

.renovation-list-header {
	padding-bottom: 40px;

	.renovations-filter-top {
		margin-top: 35px;
		width: 100%;
		display: flex;
		align-items: center;
		column-gap: 12px;
	}

	@include mobile {
		display: flex;
		flex-direction: column;
		padding-bottom: 24px;
	}
}

.apply-filters {
	display: flex;
	align-items: center;
	width: max-content;

	@include tablet {
		order: 0;
		overflow-x: auto;
	}

	.apply-filters__filter1,
	.apply-filters__filter2,
	.apply-filters__filter3 {
		display: inline-flex;
		align-items: center;
		column-gap: 8px;
		margin-left: 12px;
		padding-inline: 16px;
		min-width: fit-content;
		height: 36px;
		border-radius: 99px;
		background-color: $primary100;
		@include font-styles($font-weight: 400, $font-size: 16px, $color: $light);

		@include tablet {
			order: 0;
			overflow-x: auto;
			margin-right: 12px;
			margin-left: 0;
		}
	}

	.number {
		width: 28px;
		height: 28px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 40px;
		background-color: $light;
		@include font-styles($font-weight: 600, $font-size: 16px, $color: $primary100);
	}

	.icon {
		display: inline-flex;
		align-items: center;
		font-size: $icon-size-closeWhite;
	}
}

.renovations-filter__all-filters {
	padding: 10px 16px;
	border: 1px solid $primary50;
	@include button-styles($background-color: $body-background-color, $border-radius: 8px);
	display: inline-flex;
	align-items: center;

	.icon {
		font-size: $icon-size-filter;
	}

	.renovations-filter__all-filters__text {
		@include font-styles($font-weight: 400, $font-size: 16px, $color: $grey100);
	}

	@include mobile {
		width: 100%;
		margin-left: 0;
		order: 3;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1000;
		justify-content: center;
		border-radius: 0;
		border: none;
		border-top: 1px solid $primary50;
		background-color: $light;

		.renovations-filter__all-filters__text {
			@include font-styles($font-weight: 700, $font-size: 16px, $color: $grey100);
		}
	}
}

.renovations-filter-bottom {
	margin-top: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.renovations-filter__list__order-by {
		@include font-styles($font-weight: 400, $font-size: 16px, $color: $grey75);
	}

	@include tablet {
		flex-direction: column;
		align-items: flex-start;
		row-gap: 16px;
	}

	@include mobile {
		order: 1;
		flex-direction: column;
		align-items: flex-start;
	}
}

.renovations-filter__all-policies {
	display: flex;
	align-items: center;

	@include tablet {
		margin-top: 16px;
		order: 2;
		flex-wrap: wrap;
	}

	.renovations-filter__all-policies__text-results,
	.renovations-filter__all-policies__text-filters {
		margin-left: 5px;
		margin-right: 16px;
		@include font-styles($font-weight: 700, $font-size: 16px, $color: $grey100);
	}

	.separation {
		margin-right: 16px;
		@include font-styles($font-weight: 700, $font-size: 16px, $color: $grey75);
	}

	.renovations-filter__all-policies__clear-filters {
		@include font-styles($font-weight: 700, $font-size: 16px, $color: $primary100);

		@include mobile {
			flex-basis: 100%;
			margin-top: 16px;
		}
	}

	@include mobile {
		margin-top: 14px;
		order: 2;
		flex-wrap: wrap;
	}
}

.renovations-filter__list__type-filter {
	width: 162px;
	height: 44px;
	margin-left: 14px;
	background-color: $light;
	border: 1px solid $primary50;
	border-radius: 4px;
	display: inline-flex;
	align-items: center;
	position: relative;

	.renovations-filter__list__select {
		@include font-styles($font-weight: 700, $font-size: 16px, $color: $grey100);
		background-color: transparent;
		border: none;
		padding: 12px 36px 12px 12px;
		appearance: none;
		cursor: pointer;
	}

	.renovations-filter__list__select:focus {
		outline: none;
	}

	.icon {
		position: absolute;
		left: 130px;
		pointer-events: none;
		font-size: $icon-size-chevDown;
	}
}

.renovations-filter {
	@include mobile {
		display: contents;
	}
}

.renovations-filter-top {
	@include mobile {
		display: contents;
	}
}

.renovations-filter__list {
	@include tablet {
		order: 1;
	}

	@include mobile {
		order: 1;
	}
}
