@use '../../helpers/mixins' as *;
@use '../../helpers/variables' as *;

.background {
    background-color: $body-background-color;

    .renovations {
        padding: 0 rem(24px) rem(80px) rem(24px);
        max-width: rem(1440px);
        margin-inline: auto;

        @include tablet {
            padding-block: rem(9px);
            width: 100%;
            padding-inline: rem(16px);
        }
    }

    .renovation-card-desktop:nth-child(n + 4) {     // PARA QUE SOLO SE VEAN 2 TARJETAS
        @include mobile {
            display: none;
        }
    }
}





