@use '../../helpers/mixins' as *;
@use '../../helpers/variables' as *;

.background {
    background-color: $body-background-color;
}

.renovations {
    padding: rem(10px) rem(24px) rem(80px) rem(24px);
    max-width: rem(1440px);
    margin-inline: auto;
    @include large-desktop {
        padding: rem(10px) rem(24px) rem(80px) rem(24px);
    }
    @include mobile {
        padding: rem(9px) 0 rem(9px) 0;
        max-width: rem(343.008px);
        margin-inline: auto;
    }
}


.all-desktop-renovations {
    @include mobile {
        .home-reservation > .renovation-card-desktop:nth-child(n + 4) {
            display: none;
        }
    }
}

.renovation-list {
    @include mobile {
        padding: rem(15px) rem(16px) rem(9px) rem(16px);
        display: flex;
        flex-direction: column;
    }
}





