@use '../../helpers/mixins' as *;
@use '../../helpers/variables' as *;

.background {
    background-color: $body-background-color;
}

.renovations {
    padding: 10px 24px 80px 24px;
    max-width: 1440px;
    margin-inline: auto;
    @include large-desktop {
        padding: 10px 24px 80px 24px;
    }
    @include mobile {
        padding: 9px 0 9px 0;
        max-width: 21.438rem;
        margin-inline: auto;
    }
}


.all-desktop-renovations {
    @include mobile {
        .home-reservation > .renovation-card-desktop:nth-child(n + 4) {
            display: none;
        }
    }
}

.renovation-list {
    @include mobile {
        padding: 15px 16px 9px 16px;
        display: flex;
        flex-direction: column;
    }
}





