@use '../../helpers/mixins' as *;
@use '../../helpers/variables' as *;
@use '../../helpers/icons-variables' as *;

.renovations-header {
    padding: rem(32px) rem(88px) rem(32px) rem(88px);
    border-top: 1px solid #E6E7E8;

    @include tablet {
        padding: rem(24px) rem(109px) rem(30px) rem(16px);
    }

    .renovations-header__top {
        max-width: rem(1264px);
        margin-inline: auto;
    }

    .renovations-header__bottom {
        max-width: rem(1264px);
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .renovations-header__menu-subtitle {
        margin-bottom: rem(44px);

        @include tablet {
            display: none;
        }
    }

    .renovations-header__menu-subtitle__policies {
        @include font-styles($font-weight: 400, $font-size: 16px, $color: $primary100);
    }

    .renovations-header__menu-subtitle .separation {
        margin: 0 rem(5px) 0 rem(5px);
        @include font-styles($font-weight: 400, $font-size: 16px, $color: $grey50);
    }

    .renovations-header__menu-subtitle__next-renovations {
        @include font-styles($font-weight: 400, $font-size: 16px, $color: $grey50);
    }

    .renovations-header__menu-title__next-renovations {
        @include font-styles($font-weight: 400, $font-size: 24px, $color: $grey100);
    }

    .renovations-header__bottom .renovations-header__number-policies {
        @include tablet {
            margin-top: rem(16px);
        }
    }

    .renovations-header__number-policies {
        padding: rem(8.5px) rem(12px);
        @include button-styles($background-color: #EFF3F5, $border-radius: 8px);
        display: inline-flex;
        align-items: center;
        width: fit-content;
    }

    .renovations-header__number-policies .icon {
        font-size: $icon-size-file;
    }

    .renovations-header__number-policies__number {
        margin: 0 rem(4px) 0 rem(10px);
        @include font-styles($font-weight: 400, $font-size: 16px, $color: $grey75);
    }

    .renovations-header__number-policies__policies {
        @include font-styles($font-weight: 400, $font-size: 16px, $color: $grey75);
    }
}
