.footer
    .footer-contact
        span.footer-contact__question ¿Necesitás ayuda?
        .footer-contact__email
            span.icon.mail
            span.footer-contact__email-text atencionalcliente@securainsurance.com
        .footer-contact__phone
            span.icon.phone
            span.footer-contact__phone-text 900 926 676

    .footer-direction 
        span.footer-contact__direction
            span.footer-contact__direction-country SECURA INSURANCE ESPAÑA, S.A.U
            span.footer-contact__direction-info Calle Ribera del Loira 46, Madrid, 28042

    .footer-legal 
        a(href="/politicaCookies") Política de cookies
        span.separation |
        a(href="/legalAware") Aviso legal
        span.separation |   
        a(href="/privatePolicy") Política de privacidad

    .footer-marc
        span.footer-marc__text © 2022 SecuraInsurance