.footer-info
    .footer-contact
        span.footer-contact__question ¿Necesitás ayuda?
        .footer-contact__email
            span.footer-contact__email-icon.icon.mail
            span.footer-contact__email-text atencionalcliente@securainsurance.com
        .footer-contact__phone
            span.footer-contact__phone-icon.icon.phone
            span.footer-contact__phone-text 900 926 676

    .footer-direction 
        span.footer-contact__direction
            span.footer-contact__direction-country SECURA INSURANCE ESPAÑA, S.A.U
            span.footer-contact__direction-info Calle Ribera del Loira 46, Madrid, 28042

    .footer-legal 
        a.footer-legal__link1(href="/politicaCookies") Política de cookies
        span.footer-legal__separation |
        a.footer-legal__link2(href="/legalAware") Aviso legal
        span.footer-legal__separation |   
        a.footer-legal__link3(href="/privatePolicy") Política de privacidad

    .footer-marc
        span.footer-marc__text © 2022 SecuraInsurance