include ../fragments/_buttons-menu-globe

.glove-menu-window
  section
    +button-menu-globe('Español')
    +button-menu-globe('English')
    +button-menu-globe('Catalán')
    +button-menu-globe('Gallego')
    +button-menu-globe('Euskera')