
.header__container
  nav.navbar
    .navbar__logo
      img(src="../images/secura_insurance_logo.png" alt="Secura Insurance Logo")

    ul.navbar__menu
      li
        a(href="#inicio") Inicio
      li
        a(href="#renovaciones") Próximas renovaciones

    ul.navbar__user
      li
        a(href="#perfil")
          span Mi perfil
      li
        a(href="#idioma")
          span Español ▼