.header__container
  nav.navbar
    
    div.buttons1
      span.iconLogo.logo
      a(href="#inicio") Inicio
      a(href="#renovaciones") Próximas renovaciones

    section.rightNavButtons
      a(href="#perfil")
        span.icon.user
        p Mi perfil
        span.icon.arrow-dropdown
      a(href="#idioma")
        span.icon.globe
        p Español 
        span.icon.arrow-dropdown