include ../fragments/renovation-card

.renovations-container
    +renovation-card("75846843", "Hyundai Ioniq", "01/12/2022 ", "14/02/2024", "30.203,76 €")
        .state-warning
            +state-policy("clock", "Pendiente")
