include ../fragments/renovation-card

.renovations-container
    +renovation-card("75846843", "Hyundai Ioniq", "01/12/2022", "01/12/20223", "30.203,76 €")
        .state-warning
            +state-policy("clock", "Pendiente")
