.body-header 
    img(src="../../images/body-homepage-header.svg" alt="img-homepage")
    .body-header__content
        h1.body-header__title 
            | Bienvenido a tu área 
            br
            | personal
        p.body-header__description 
            | Gracias a ti más personas pueden disfrutar de una vida más segura