.renovation-list
    .renovations-filter 
        .renovations-filter-top 
            button.renovations-filter__all-filters 
                span.icon.filter 
                span.renovations-filter__all-filters__text Filtros
        .renovations-filter-bottom
            .renovations-filter__all-policies 
                span.renovations-filter__all-policies__text 770 pólizas
            .renovations-filter__list
                span.renovations-filter__list__order-by Ordenar por :
                button.renovations-filter__list__type-filter
                    span.renovations-filter__list__type-filter__example Más recientes
                    span.icon.chev-down
    .all-desktop-renovations
        include renovations/next-renovations-page/all-desktop-renovations
    .all-mobile-renovations
        include renovations/next-renovations-page/all-mobile-renovations