.renovation-list-header
    .renovations-filter 
        .renovations-filter-top 
            button.renovations-filter__all-filters 
                span.icon.filter 
                span.renovations-filter__all-filters__text Filtros
        .renovations-filter-bottom
            .renovations-filter__all-policies 
                span.renovations-filter__all-policies__text 770 pólizas
            .renovations-filter__list
                span.renovations-filter__list__order-by Ordenar por :
                button.renovations-filter__list__type-filter
                    span.renovations-filter__list__type-filter__example Más recientes
                    span.icon.chev-down
.all-desktop-renovations
    include renovations/all-desktop-renovations
