/* Icons-code */
$icon-user: "\f00d";
$icon-globe: "\f000";
$icon-frameOn: "\f001";
$icon-frameOff: "\f002";
$icon-filter: "\f003";
$icon-file: "\f004";
$icon-close: "\f005";
$icon-clock: "\f006";
$icon-chevDown: "\f007";
$icon-check: "\f008";
$icon-burguerMenu: "\f009";
$icon-back: "\f00a";
$icon-arrowRight: "\f00b";
$icon-arrowDropdown: "\f00c";
$icon-trash: "\f00e";
$icon-skipRight: "\f00f";
$icon-skipLeft: "\f010";
$icon-edit: "\f011";
$icon-powerOff: "\f012";
$icon-phone: "\f013";
$icon-mail: "\f014";
$icon-lock: "\f015";
$icon-closeWhite: "\f016";
$icon-calendar: "\f017";

/* Icon-sizes */
$icon-size-user: 1.5rem;
$icon-size-globe: 1.5rem;
$icon-size-frameOn: 1.125rem;
$icon-size-frameOff: 1.125rem;
$icon-size-filter: 1.25rem;
$icon-size-file: 1.25rem;
$icon-size-close: 1.25rem;
$icon-size-clock: 1.25rem;
$icon-size-chevDown: 1.25rem;
$icon-size-check: 1.25rem;
$icon-size-burguerMenu: 1.5rem;
$icon-size-back: 1.5rem;
$icon-size-arrowRight: 1.5rem;
$icon-size-arrowDropdown: 1rem;
$icon-size-trash: 1.25rem;
$icon-size-skipRight: 1.5rem;
$icon-size-skipLeft: 1.5rem;
$icon-size-edit: 1.25rem;
$icon-size-powerOff: 1.5rem;
$icon-size-phone: 1.25rem;
$icon-size-mail: 1.25rem;
$icon-size-lock: 1.5rem;
$icon-size-closeWhite: 1rem;
$icon-size-calendar: 1.25rem;



@mixin icon-content-classes {
	.icon.user:before { content: $icon-user; }
	.icon.globe:before { content: $icon-globe; }
	.icon.arrow-dropdown:before { content: $icon-arrowDropdown; }
	.icon.frameOn:before { content: $icon-frameOn; }
	.icon.frameOff:before { content: $icon-frameOff; }
	.icon.filter:before { content: $icon-filter; }
	.icon.file:before { content: $icon-file; }
	.icon.close:before { content: $icon-close; }
	.icon.clock:before { content: $icon-clock; }
	.icon.chev-down-policy:before { content: $icon-chevDown; }
	.icon.chev-down-status:before { content: $icon-chevDown; }
	.icon.chev-down-order-by:before { content: $icon-chevDown; }
	.icon.chev-down-rows:before { content: $icon-chevDown; }
	.icon.check:before { content: $icon-check; }
	.icon.burger_menu:before { content: $icon-burguerMenu; }

	.icon.back:before { content: $icon-back; }
	.icon.arrow-right:before { content: $icon-arrowRight; }
	.icon.skip-right:before { content: $icon-skipRight; }
	.icon.skip-left:before { content: $icon-skipLeft; }
	.icon.edit:before { content: $icon-edit; }
	
	.icon.trash:before { content: $icon-trash; }
	.icon.power-off:before { content: $icon-powerOff; }
	.icon.phone:before { content: $icon-phone; }
	.icon.mail:before { content: $icon-mail; }
	.icon.lock:before { content: $icon-lock; }
	.icon.closeWhite:before { content: $icon-closeWhite; }
	.icon.close-white:before { content: $icon-closeWhite; }
	.icon.calendar:before { content: $icon-calendar; }
}
