/* Icons-code */
$icon-user: "\f00d";
$icon-globe: "\f000";
$icon-frameOn: "\f001";
$icon-frameOff: "\f002";
$icon-filter: "\f003";
$icon-file: "\f004";
$icon-close: "\f005";
$icon-clock: "\f006";
$icon-chevDown: "\f007";
$icon-check: "\f008";
$icon-burguerMenu: "\f009";
$icon-back: "\f00a";
$icon-arrowRight: "\f00b";
$icon-arrowDropdown: "\f00c";
$icon-trash: "\f00e";
$icon-skipRight: "\f00f";
$icon-skipLeft: "\f010";
$icon-powerOff: "\f012";
$icon-phone: "\f013";
$icon-mail: "\f014";
$icon-lock: "\f015";  

/* Icon-sizes */
$icon-size-user: 1.5rem;
$icon-size-globe: 1.5rem;
$icon-size-frameOn: 1.125rem;
$icon-size-frameOff: 1.125rem;
$icon-size-filter: 1.25rem;
$icon-size-file: 1.25rem;
$icon-size-close: 1.25rem;
$icon-size-clock: 1.25rem;
$icon-size-chevDown: 1.25rem;
$icon-size-check: 1.25rem;
$icon-size-burguerMenu: 1.5rem;
$icon-size-back: 1.5rem;
$icon-size-arrowRight: 1.5rem;
$icon-size-arrowDropdown: 1rem;
$icon-size-trash: 1.0694rem;
$icon-size-skipRight: 1.5rem;
$icon-size-skipLeft: 1.5rem;
$icon-size-powerOff: 1.5rem;
$icon-size-phone: 1.25rem;
$icon-size-mail: 1.25rem;
$icon-size-lock: 1.5rem;
