/* Convert px to rem 
    - example of usage: @include toRem(font-size, 20px);
*/
@mixin toRem($property, $value, $base: 16px) {
    #{$property}: #{$value / $base}rem;
}

@mixin font-styles( $font-family: "sans-serif", $font-weight, $font-size, $letter-spacing: 0, $color ) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    color: $color;
}
