@use './variables' as *;
@use 'sass:math';


// /* Convertir px a rem */
@function rem($pixel) {
  @return math.div(math.div($pixel, 1px), 16) * 1rem;
}


/* Fuente */
@mixin font-styles( $font-family: "Roboto", $font-weight, $font-size, $letter-spacing: 0, $color ) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    color: $color;
}

/* Estados de renovaciones */
@mixin policy-state-styles($background-color) {
    background-color: $background-color;
}

/* Botones */
@mixin button-styles($background-color: transparent, $border-radius: 8px) {
    background-color: $background-color;
    border-radius: $border-radius;
}

/* Campos de filter-menu */
@mixin menu-filter-field ($width: 100%, $height: 44px, $padding: 12px, $border-radius: 4px, $border-color: 1px solid $border-filterMenu-option) {
    width: $width;
    height: $height;
    padding: $padding;
    border-radius: $border-radius;
    border: $border-color;
}



/* @media RANGOS */
@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: $breakpoint-desktop) {
    @content;
  }
}
@mixin large-desktop {
  @media (max-width: $breakpoint-large-desktop) {
    @content;
  }
}