@use './variables' as *;

@mixin font-styles( $font-family: "Roboto", $font-weight, $font-size, $letter-spacing: 0, $color ) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    color: $color;
}

/* @media RANGOS */
@mixin mobile-md-only {
  @media (min-width: $mobilemd) and (max-width: $mobileemdMax) {
    @content;
  }
}

@mixin mobile-xl-only {
  @media (min-width: $mobilexl) and (max-width: $mobilexlMax) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: $tablet) and (max-width: $tabletMax) {
    @content;
  }
}

@mixin tablet-md-only {
  @media (min-width: $tabletmd) and (max-width: $tabletmdMax) {
    @content;
  }
}

@mixin tablet-xl-only {
  @media (min-width: $tabletxl) and (max-width: $tabletxlMax) {
    @content;
  }
}

@mixin desktop-sm-only {
  @media (min-width: $desktopsm) and (max-width: $desktopmd) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: $desktop) and (max-width: $desktopMax) {
    @content;
  }
}

@mixin desktop-xl-only {
  @media (min-width: $desktopxl) and (max-width: $desktopxlMax) {
    @content;
  }
}

@mixin full-hd-up {
  @media (min-width: $fullHd) {
    @content;
  }
}
