/* COLORS */
/* Base*/
$primary100: #4B98D9;
$primary75: #6FA6D4;
$primary50: #9FC3E2;
$primary25: #CFE1F1;

/* Neutral */
$grey100: #353535;
$grey75: #686868;
$grey50: #9A9A9A;
$grey25: #CDCDCD;
$light: #FAFCFE;

/* Function */
$success: #3BD378;
$error: #E75249;

/* Information */
$text: #191C3D;
$subtitleText: #7579A0;
$accent: #D8DBF5;
$inverseText: #F7F7FC;

/* Icons-code */
$icon-user: "\f00d";
$icon-globe: "\f000";
$icon-frameOn: "\f001";
$icon-frameOff: "\f002";
$icon-filter: "\f003";
$icon-file: "\f004";
$icon-close: "\f005";
$icon-clock: "\f006";
$icon-chevDown: "\f007";
$icon-check: "\f008";
$icon-burguerMenu: "\f009";
$icon-back: "\f00a";
$icon-arrowRight: "\f00b";
$icon-arrowDropdown: "\f00c";
$icon-trash: "\f00e";
$icon-skipRight: "\f00f";
$icon-skipLeft: "\f010";
$icon-powerOff: "\f012";
$icon-phone: "\f013";
$icon-mail: "\f014";
$icon-lock: "\f015";

/* Icon-sizes */
$iconSizeUser: 24px;
$iconSizeGlobe: 24px;
$iconSizeFrameOn: 18px;
$iconSizeFrameOff: 18px;
$iconSizeFilter: 20px;
$iconSizeFile: 20px; 
$iconSizeClose: 20px;
$iconSizeClock: 20px;
$iconSizeChevDown: 20px;
$iconSizeCheck: 20px;
$iconSizeBurguerMenu: 24px;
$iconSizeBack: 24px;
$iconSizeArrowRight: 24px;
$iconSizeArrowDropdown: 16px;
$iconSizeTrash: 17.11px;
$iconSizeSkipRight: 24px;
$iconSizeSkipLeft: 24px;
$iconSizePowerOff: 24px;
$iconSizePhone: 20px;
$iconSizeMail: 20px;
$iconSizeLock: 24px;
