include ../../components/renovation-card/renovation-card-desktop

.home-reservation
    .home-reservation__header
        h2 No. de póliza
        h2 Nombre del riesgo 
        h2 Fecha de contrato
        h2 Fecha de vencimiento
        h2 Importe
        h2 Estado de póliza
    +renovation-card-desktop("75846843", "Hyundai Ioniq", "01/12/2022 ", "14/02/2024", "30.203,76 €")
        .state
            .state__warning
                +state-policy("clock", "Pendiente")
    +renovation-card-desktop("75846843", "Hyundai Ioniq", "01/12/2022 ", "14/02/2024", "30.203,76 €")
        .state
            .state__success
                +state-policy("check", "Pagada")
    +renovation-card-desktop("75846843", "Hyundai Ioniq", "01/12/2022 ", "14/02/2024", "30.203,76 €")
        .state
            .state__success
                +state-policy("check", "Pagada")
