.apply-filters
    .apply-filters__filter1
        span Hyundai Ioniq
        span.icon.close
    .apply-filters__filter2
        span 2022
        span.icon.close
    .apply-filters__filter3
        span 75846843
        span.icon.close
    
