.buttons-left
  .buttons-left__logo
    img(src="../../images/secura-insurance_logo.svg" alt="Secura Insurance")
  .buttons-left__directions
    a.buttons-left__directions__link(href="home.html") Inicio
    a.buttons-left__directions__link(href="renovations.html") Próximas renovaciones