.right-nav-buttons
  include ../fragments/nav-right-icons/_button-user
  include ../fragments/nav-right-icons/_button-globe
  include ../fragments/nav-right-icons/_button-burger
  .close
    span.icon.close