.right-nav-buttons
  // User button
  button.right-nav-buttons__user-button
    span.icon.user.icon-menu-user
    span.user-button__title Mi perfil
    span.icon.arrow-dropdown.icon-arrow
  include ./nav-right-menus/user-window-menu
  // Globe button
  button.right-nav-buttons__globe-button
    span.icon.globe.icon-menu-globe
    span.globe-button__title Español
    span.icon.arrow-dropdown.icon-arrow
  include ./nav-right-menus/globe-window-menu
  // Burger button
  button.right-nav-buttons__burguer-button
    span.icon.burger_menu.icon-menu-burger
  include ./nav-right-menus/burger-menu-window
  span.icon.close.icon-close
