.buttons-left
  .logo
    img(src="../../images/secura-insurance_logo.svg" alt="Secura Insurance")
  .directions
    a.link(href="home.html") Inicio
    a.link(href="renovations.html") Próximas renovaciones