.right-nav-buttons
  include ./nav-right-menus/nav-right-buttons/_button-user
  include ./nav-right-menus/nav-right-buttons/_button-globe
  include ./nav-right-menus/nav-right-buttons/_button-burger
  .close
    span.icon.close