.buttons-left
  .logo
    img(src="../../images/secura-insurance_logo.svg" alt="Secura Insurance")
  .directions
    a.link(href="#inicio") Inicio
    a.link(href="#renovaciones") Próximas renovaciones