.buttons-left
  .buttons-left__logo
    img(src="../../images/secura-insurance_logo.svg" alt="Secura Insurance")
  .buttons-left__directions
    a.buttons-left__directions__link(href="index.html" data-i18n="nav.inicio") Inicio
    a.buttons-left__directions__link(href="renovations.html" data-i18n="nav.renovaciones") Próximas renovaciones
