section.rightNavButtons
  button(href="#perfil")
    span.icon.user
    p Mi perfil
    span.icon.arrow-dropdown
  button(href="#idioma")
    span.icon.globe
    p Español
    span.icon.arrow-dropdown