include ../../components/renovation-car

.home-reservation
    .home-reservation__header
        h2(data-i18n="tabla.poliza") No. de póliza
        h2(data-i18n="tabla.riesgo") Nombre del riesgo
        h2(data-i18n="tabla.contrato") Fecha de contrato
        h2(data-i18n="tabla.vencimiento") Fecha de vencimiento
        h2(data-i18n="tabla.importe") Importe
        h2(data-i18n="tabla.estado") Estado de póliza

    .renovations-json-list
        p.loading-backend Cargando backend en Render...
        script(src="/js/showRenovations.js")
