include ../../components/renovation-car

.home-reservation
    .home-reservation__header
        h2 No. de póliza
        h2 Nombre del riesgo 
        h2 Fecha de contrato
        h2 Fecha de vencimiento
        h2 Importe
        h2 Estado de póliza

    // --- DONDE SE PINTARAN LAS RENOVACIONES DEL JSON ---
    .renovations-json-list
        script(src="/js/showRenovations.js")
