.renovations-filter 
	.renovations-filter-top 
		button.renovations-filter__all-filters 
			span.icon.filter 
			span.renovations-filter__all-filters__text Filtros
		include ../../components/filter-menu
		include ../../components/filters-aplied
	.renovations-filter-bottom
		.renovations-filter__all-policies 
			span.renovations-filter__all-policies__text-results 770 pólizas
			span.separation |
			span.renovations-filter__all-policies__text-filters 7 filtros aplicados 
			button.renovations-filter__all-policies__clear-filters Borrar filtros
		.renovations-filter__list
			span.renovations-filter__list__order-by Ordenar por :
			.renovations-filter__list__type-filter
				select.renovations-filter__list__select
					option Mayor importe
					option Menos importe
					option Más recientes
					option Menos recientes
				span.icon.chev-down-order-by
