.background
    .renovations
        .renovation-list-header
            include filters
        .all-desktop-renovations
            include all-renovation
        .pagination 
            include pagination
            
