.pagination-top
	.pagination__rows 
		span.pagination__rows__rows-text Filas por página:
		.pagination__rows__rows-select
			select.pagination__rows__option 
				option 10
				option 1
				option 2
				option 3
				option 4
				option 5
				option 6
				option 7
				option 8
				option 9
				option 10
			span.icon.chev-down.pagination__rows__option__icon
.pagination-bottom
	.pagination__page 
		span.pagination__page__text1 Página 
		span.pagination__page__text2 1 de 77
	.pagination__page-option
		button.pagination__page-option__skip-left
			span.icon.skip-left
		button.pagination__page-option__left
			span.icon.back
		button.pagination__page-option__right
			span.icon.arrow-right
		button.pagination__page-option__skip-right
			span.icon.skip-right
