.pagination__rows 
	span.pagination__rows__rows-text Filas por página:
	button.pagination__rows__option 
		span.pagination__rows__option-text 10
		span.icon.chev-down-rows 
.pagination__page 
	span.pagination__page__text Página 1 de 77
.pagination__page-option
	button.pagination__page-option__skip-left
		span.icon.skip-left
	button.pagination__page-option__left
		span.icon.back
	button.pagination__page-option__right
		span.icon.arrow-right
	button.pagination__page-option__skip-right
		span.icon.skip-right
