.renovations-header 
    .renovations-header__top
        .renovations-header__menu-subtitle
            span.renovations-header__menu-subtitle__policies Pólizas 
            span.separation /
            span.renovations-header__menu-subtitle__next-renovations Próximas renovaciones
    .renovations-header__bottom
        .renovations-header__menu-title 
            span.renovations-header__menu-title__next-renovations Próximas renovaciones
        .renovations-header__number-policies
            span.icon.file 
            span.renovations-header__number-policies__number 770
            span.renovations-header__number-policies__policies Pólizas