extends layouts/layout-home

block vars
    - var pageTitle = "Homepage";

block header
    title Homepage

block page-content
    nav
        img(src="../images/secura_insurance_logo.png" alt="Logo")
     
        ul
          li
            a(href="#") Inicio
          li
            a(href="#") Próximas renovaciones

        ul
          li
            a(href="#")
              span Mi perfil
          li
            a(href="#")
              span Español ▼

