extends layouts/layout-home
include components/button

block vars
    - var pageTitle = "Homepage";

block header
    title Homepage

block content
    .home
        include templates/home/homepage-header
        .home-content
            section
                p.home-content__title-renovations Próximas renovaciones
                .renovations-desktop
                    include templates/home/home-renovations
            .home-content__view-more-button
                +see-all('icon', 'Ver todas', 'renovations.html')
            section 
                p.home-content__title-clients Clientes potenciales
                .potential-clients
                    include templates/home/potential-clients
