extends layouts/layout-home

block vars
    - var pageTitle = "Homepage";

block header
    title Homepage

block content
    div.home-hero(style="background-color: #7691cfff; min-height: 400px;")
        h1 Bienvenido a Secura Insurance
        p Este es el área de contenido con fondo visible.
    
