extends layouts/layout-home
include components/button

block vars
    - var pageTitle = "Homepage";

block header
    title Homepage

block content
    .home
        include templates/homepage-header
        section
            p.title-renovations Próximas renovaciones
            .renovations-desktop
                include templates/renovations/home-renovations/home-desktop-renovations
        .view-more-button
            +see-all('icon', 'Ver todas', 'renovations.html')
        section 
            p.title-clients Clientes potenciales
            .potential-clients
                include templates/potential-clients
