extends layouts/layout-home

block vars
    - var pageTitle = "Homepage";

block header
    title Homepage

block content
    .home
        include templates/homepage-header
        p.title-renovations Próximas renovaciones
        include templates/home-next-renovations
    
