extends layouts/layout-home

block vars
    - var pageTitle = "Homepage";

block header
    title Homepage

block content
    .home
        include templates/homepage-header
        p.title-renovations Próximas renovaciones
        .renovations-desktop
            include templates/home-desktop-renovations
        .renovations-mobile
            include templates/home-mobile-renovations
    
