extends layouts/layout-home
include components/button

block vars
    - var pageTitle = "Renovations";

block header
    title Policy

block content
    include templates/policy/policy-header
    include templates/policy/policy-info