extends layouts/layout-home
include components/button

block vars
    - var pageTitle = "Renovations";

block header
    title Renovations

block content
    include templates/renovations/renovationspage-header
    include templates/renovations/next-renovations-list
