@use '../../helpers/mixins' as *;
@use '../../helpers/variables' as *;

.globe-menu-window__option {
    background-color: white;
    border: none;
    width: 8.188rem;
    height: 3.813rem;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 12px;
    border-bottom: 1px solid #E6E7E8;
    cursor: pointer;

    .globe-menu-window__option-text {
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100);
    }

    &:hover {
        background-color: #EFF3F5;
    }
    
}