@use '../helpers/icons-variables' as *;
@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;

.submenu-option-style {
    width: 375px;
    height: 61px;
    display: flex;
    align-items: center;
    border: none;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #E6E7E8;
    border-radius: 0 0 12px 12px;
    text-decoration: none;
    cursor: pointer;
    padding-left: 24px;
    
    .text {
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100);
    }

    
    &::before {
        position: absolute;
        display: none;
        left: 0;
        top: 0;
        width: 2px;
        height: 61px;              
        background-color: #4B98D9;
        transform: translateX(-100%);
    }
    &:hover,
    &:focus-visible {
        text-decoration: none;
    }
}