@use '../helpers/icons-variables' as *;
@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;

.renovation-card-mobile {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 15px #37464933;
    border-radius: 12px;
    padding: 16px;
    margin: 0 16px 0 16px;
    h2{
        margin-bottom: 2px;
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey75)
    }
    &__policy, &__risk, &__date-contrat, &__date-maturity {
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100)
    } 
    &__price {
        @include font-styles( $font-weight: 700, $font-size: 16px, $color: $grey100)
    }
    &__policy, &__risk, &__date-contrat, &__date-maturity, &__price {
        margin-bottom: 16px;
    } 
    .state {
        &__icon {
            padding-right: 4px;
        }
        &__warning {
            background-color: $state-warning;
            padding: 2px 8px;
            width: fit-content;
            border-radius: 4px;
            @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100);
            
        }
    }
}