@use '../helpers/icons-variables' as *;
@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;

.home-reservation__header {
    height: 29px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 56px;
    background-color: rgb(255, 255, 255);
    padding: 0 32px 0 56px;
    margin: 0 24px 24px;
    border-bottom: 1px solid #A7B8BF;
    h2{
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey75)
    }
}

.renovation-card {
    height: 76px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 56px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 0 32px 0 56px;
    margin: 0 24px 0 24px;
    box-shadow: 0px 0px 15px #37464933;

    &__policy, &__risk, &__date-contrat, &__date-maturity {
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100)
    } 
     
    &__price {
        @include font-styles( $font-weight: 700, $font-size: 16px, $color: $grey100)
    }
    
    .state {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 2px 8px;
        border-radius: 4px;
        &__icon {
            font-size: $icon-size-clock;
        }
        &__text {
            @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100)
        }
    }
    .state-warning {
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100);
        @include policy-state-styles($background-color: $state-warning);
    }
}