@use '../helpers/icons-variables' as *;
@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;


.home-reservation {
    margin-bottom: rem(40px);
    .home-reservation__header {
        min-height: rem(29.008px);
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: rem(56px);
        padding: 0 rem(32px) 0 rem(56px);
        margin-bottom: rem(24px);
        border-bottom: rem(1px) solid $border-filterMenu-option;
        @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $text);

        @include desktop {
            display: none;
        }
    }

    .renovations-json-list {
        margin: 0;
        padding: 0;
    }

    .renovations-desktop {
        margin-bottom: rem(116px);
    }

    .renovation-card-desktop {
        gap: rem(56px);
        height: rem(76px);
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        background-color: $light;
        border-radius: rem(10px);
        padding: 0 rem(32px) 0 rem(56px);
        margin: rem(24px) 0 rem(24px) 0;
        box-shadow: 0px rem(10px) rem(15px) $box-shadow1;

        @include desktop {
            width: 100%;
            height: auto;
            box-sizing: border-box;
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            column-gap: rem(16px);
            row-gap: rem(12px);
            align-items: flex-start;
            padding: rem(16px);
            margin: 0 auto rem(24px) auto;
        }

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    .renovation-card-desktop__policy,
    .renovation-card-desktop__risk,
    .renovation-card-desktop__date-contrat,
    .renovation-card-desktop__date-maturity {
        @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $text3);
    }

    .renovation-card-desktop__price {
        @include font-styles($font-weight: 700, $font-size: rem(16px), $color: $text3);
    }

    .state-cell {
        width: rem(116px);
        border-radius: rem(4px);
        overflow: hidden;
    }

    .state {
        display: flex;
        align-items: center;
        gap: rem(8px);
        padding: rem(2px) 0 rem(2px) 0;
        border-radius: rem(4px);
    }

    .state__icon {
        padding-left: rem(8px);
        font-size: $icon-size-clock;
    }

    .state__text {
        padding-right: rem(8px);
    }

    .state__warning {
        @include policy-state-styles($background-color: $state-warning);
        @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $text);
        border-radius: rem(4px);
        color: $text;
        width: fit-content;
    }

    .state__success {
        @include policy-state-styles($background-color: $state-success);
        @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $state-success-text);
        border-radius: rem(4px);
        width: fit-content;
    }

    .state__error {
        @include policy-state-styles($background-color: $state-error);
        @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $state-error-text);
        border-radius: rem(4px);
        width: fit-content;
    }


    .renovation-card-desktop__policy,
    .renovation-card-desktop__risk,
    .renovation-card-desktop__date-contrat,
    .renovation-card-desktop__date-maturity,
    .renovation-card-desktop__price,
    .renovation-card-desktop__state {
        @include desktop {
            width: rem(200px);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: rem(2px);
        }
    }

    .renovation-card-desktop__policy::before {
        @include desktop {
            content: 'No. de póliza';
            @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $grey75);
        }
    }

    .renovation-card-desktop__risk::before {
        @include desktop {
            content: 'Nombre del riesgo';
            @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $grey75);
        }
    }

    .renovation-card-desktop__date-contrat::before {
        @include desktop {
            content: 'Fecha de contrato';
            @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $grey75);
        }
    }

    .renovation-card-desktop__date-maturity::before {
        @include desktop {
            content: 'Fecha de vencimiento';
            @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $grey75);
        }
    }

    .renovation-card-desktop__price::before {
        @include desktop {
            content: 'Importe';
            @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $grey75);
        }
    }

    .renovation-card-desktop__state::before {
        @include desktop {
            content: 'Estado de póliza';
            @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $text);
        }
    }
}