@use '../helpers/icons-variables' as *;
@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;

.client-list {
  display: grid;
  grid-template-columns: 1fr 1fr;     // Dos columnas de igual ancho
  gap: 1.25rem;                        // Espacio entre las tarjetas
  margin-inline: 1.5625rem;
}

.client-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.342);
  width: 100%;
  border-radius: 12px;

  &__top {
    position: relative;
    flex: 1;
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 1.5rem 0;
    background: #f8fafc;
    flex-direction: column;
  }

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__name {
    @include font-styles( $font-weight: 400, $font-size: 24px, $color: $grey100);
    margin-bottom: 0.625rem;
  }

  &__offer {
    @include font-styles( $font-weight: 400, $font-size: 16px, $color: $primary75);
    margin-bottom: 2.4375rem;
    display: inline-block;
  }

  &__icon {
    position: absolute;
    font-size: $icon-size-trash;
    top: 1rem;
    right: 1rem;
    text-decoration: none;
    border: none;
    background-color: white;
  }

  &__contact {
    padding: 0px 1.5rem 1.0625rem;
    display: flex;
    gap: 0.625rem;
  }

  &__mail {
    @include font-styles( $font-weight: 700, $font-size: 16px, $color: $primary100);
    align-items: center;
    margin-right: 1.5rem;
  }

  &__phone {
    @include font-styles( $font-weight: 700, $font-size: 16px, $color: $primary100);
    align-items: center;
  }
}




@include mobile {
  .client-list {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  .client-card {
    height: 22.25rem;

    &__header {
      margin-top: 3.625rem;
    }

    &__name {
      width: 14.6875rem;
    }

    &__contact {
      flex-direction: column;
      margin-bottom: 4rem;
    }

    &__mail {
      margin-bottom: 1.5rem;
    }
  }
}

@include tablet {
  .client-list {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  .client-card {
    height: 22.25rem;

    &__header {
      margin-top: 3rem;
    }

    &__name {
      width: 14.6875rem;
    }

    &__contact {
      flex-direction: column;
      margin-bottom: 4rem;
    }

    &__mail {
      margin-bottom: 1.5rem;
    }
  }
}

@include desktop {
  .client-card {
    &__contact {
      flex-direction: column;
    }
  }
}