@use '../helpers/icons-variables' as *;
@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;

.client-list {
  display: grid;
  grid-template-columns: 1fr 1fr;     // Dos columnas de igual ancho
  gap: 20px;    
  margin-inline: 25px;
}

.client-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.342);
  width: 100%;
  border-radius: 12px;  

  .top-card {
    position: relative;
    flex: 1;
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px 0;
    background: #f8fafc;
    flex-direction: column;       

    .client-card__header {
      display: flex;
      flex-direction: column;

      .client-card__name {
        @include font-styles( $font-weight: 400, $font-size: 24px, $color: $grey100);
        margin-bottom: 10px;  
      }
      .client-card__offer {
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $primary75);
        margin-bottom: 39px;
        display: inline-block;    
      }
    }
  }
}

.client-card__icon {
  position: absolute;
  font-size: $icon-size-trash; 
  top: 16px;                    
  right: 24px;                 
}

.client-card__contact {
  padding: 0px 24px 17px;
  display: flex;
  gap: 10px;

  .client-card__mail {
    @include font-styles( $font-weight: 700, $font-size: 16px, $color: $primary100);
    align-items: center;
    margin-right: 24px;
  }
  .client-card__phone {
    @include font-styles( $font-weight: 700, $font-size: 16px, $color: $primary100);
    align-items: center;
  }
}


@include mobile {
  .client-list {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 16px;
  }
  .client-card {
    height: 356px;
  }
  .client-card__header {
    margin-top: 58px;
  }
  .client-card__name {
    width: 235px;
  }

  .client-card__contact {
    flex-direction: column;
    margin-bottom: 64px;
  }
  .client-card__mail {
    margin-bottom: 24px;
  }
}

@include tablet {
  .client-list {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 16px;
  }
  .client-card {
    height: 356px;
  }
  .client-card__header {
    margin-top: 3.0rem;
  }
  .client-card__name {
    width: 235px;
  }
  
  .client-card__contact {
    flex-direction: column;
    margin-bottom: 64px;
  }
  .client-card__mail {
    margin-bottom: 24px;
  }
}

@include desktop {
  .client-card__contact {
    flex-direction: column;
  }
}