include ./_buttons-burger-menu

.burguer-menu-window
    +button-burger-menu('home.html', 'Inicio')
    +button-burger-menu('renovations.html', 'Próximas renovaciones')
    button.burguer-menu-window__globe-button
        span.icon.globe
        span.burguer-menu-window__title Español
        span.icon.arrow-dropdown
    include ../nav-right-menus/globe-window-menu