include ./_buttons-burger-menu

.burguer-menu-window
    +button-burger-menu('index.html', 'Inicio', 'nav.inicio')
    +button-burger-menu('renovations.html', 'Próximas renovaciones', 'nav.renovaciones')
    button.burguer-menu-window__globe-button
        span.icon.globe
        span.burguer-menu-window__title Español
        span.icon.arrow-dropdown
    include ../nav-right-menus/globe-window-menu
