@use '../helpers/variables' as *;
@use '../helpers/icons-variables' as *;
@use '../helpers/mixins' as *;


.filter-menu {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: rem(496px);
    height: 100vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 100vmax #00000029;

    @include mobile {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
    }

    .filter-menu__header {
        max-height: rem(72px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(24px) rem(40px);
        border-bottom: 1px solid #E6E7E8;
    }

    .filter-menu__header__title {
        @include font-styles($font-weight: 700, $font-size: 16px, $color: $grey100);
    }

    .filter-menu__header .icon {
        padding-top: rem(5px);
        font-size: $icon-size-close;
        cursor: pointer;
        filter: hue-rotate(240deg) saturate(1.5);
        border: none;
        background: transparent;
    }

    .filter-menu__body {
        padding: rem(32px) rem(40px) rem(415px) rem(40px);
    }

    .filter-menu__body__sec1 {
        margin-bottom: rem(32px);
        position: relative;
    }

    .filter-menu__body__title1 {
        margin-bottom: rem(8px);
        @include font-styles($font-weight: 700, $font-size: 16px, $color: $titleSection-filterMenu);
    }

    .filter-menu__body__select1 {
        @include menu-filter-field();
        @include font-styles($font-weight: 400, $font-size: 16px, $color: $grey50);
        appearance: none;
    }

    .filter-menu__body__sec2 {
        margin-bottom: rem(32px);
        position: relative;
    }

    .filter-menu__body__title2 {
        margin-bottom: rem(8px);
        @include font-styles($font-weight: 700, $font-size: 16px, $color: $titleSection-filterMenu);
    }

    .filter-menu__body__input1 {
        @include menu-filter-field();
        @include font-styles($font-weight: 400, $font-size: 16px, $color: $grey50);
    }

    .filter-menu__body__sec3 {
        margin-bottom: rem(32px);
        position: relative;
    }

    .filter-menu__body__date-range {
        justify-content: space-between;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .filter-menu__body__date-field {
        position: relative;
        display: inline-block;
    }

    .filter-menu__body__title3 {
        margin-bottom: rem(8px);
        @include font-styles($font-weight: 700, $font-size: 16px, $color: $titleSection-filterMenu);
    }

    .filter-menu__body__input2 {
        @include menu-filter-field($width: rem(177.5px));
        @include font-styles($font-weight: 400, $font-size: 16px, $color: $grey50);
        padding-right: rem(36px);
    }

    .filter-menu__body__input2::-webkit-calendar-picker-indicator {
        display: none;
    }

    .separation {
        @include font-styles($font-weight: 400, $font-size: 16px, $color: black);
    }

    .filter-menu__body__input3 {
        @include menu-filter-field($width: rem(177.5px));
        @include font-styles($font-weight: 400, $font-size: 16px, $color: $grey50);
        padding-right: rem(36px);
    }

    .filter-menu__body__input3::-webkit-calendar-picker-indicator {
        display: none;
    }

    .filter-menu__body__sec4 {
        margin-bottom: rem(32px);
        position: relative;
    }

    .filter-menu__body__title4 {
        margin-bottom: rem(8px);
        @include font-styles($font-weight: 700, $font-size: 16px, $color: $titleSection-filterMenu);
    }

    .filter-menu__body__input4 {
        @include menu-filter-field();
        @include font-styles($font-weight: 400, $font-size: 16px, $color: $grey50);
    }

    .filter-menu__body__sec5 {
        position: relative;
    }

    .filter-menu__body__title5 {
        margin-bottom: rem(8px);
        @include font-styles($font-weight: 700, $font-size: 16px, $color: $titleSection-filterMenu);
    }

    .filter-menu__body__select2 {
        @include menu-filter-field();
        @include font-styles($font-weight: 400, $font-size: 16px, $color: $grey50);
        appearance: none;
    }

    .icon.chev-down-policy,
    .icon.chev-down-status {
        font-size: $icon-size-chevDown;
        position: absolute;
        top: 58%;
        right: rem(12px);
        pointer-events: none;
    }

    .icon.calendar {
        position: absolute;
        right: rem(12px);
        top: 50%;
        transform: translateY(-50%);
        font-size: $icon-size-calendar;
        pointer-events: none;
    }

    .filter-menu__bottom {
        display: flex;
        justify-content: space-between;
        padding: rem(20.5px) rem(40px);
        border-top: 1px solid #E6E7E8;
    }

    .filter-menu__bottom__clear {
        padding: rem(10px) rem(16px);
        border: 1px solid $primary50;
        @include font-styles($font-weight: 400, $font-size: 16px, $color: #191C3D);
        @include button-styles($background-color: transparent);
    }

    .filter-menu__bottom__apply {
        padding: rem(10px) rem(16px);
        @include font-styles($font-weight: 400, $font-size: 16px, $color: #191C3D);
        @include button-styles($background-color: $primary25);
        border: none;
    }
}