@use '../helpers/variables' as *;
@use '../helpers/icons-variables' as *;
@use '../helpers/mixins' as *;


.filter-menu {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: rem(496px);
    height: 100%;
    background-color: $light;
    box-shadow: 0 0 0 100vmax $box-shadow3;

    @include mobile {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .filter-menu__header {
        max-height: rem(72px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(24px) rem(40px);
        border-bottom: rem(1px) solid $border-top-renovations-header;
    }

    .filter-menu__header__title {
        @include font-styles($font-weight: 700, $font-size: rem(16px), $color: $grey100);
    }

    .filter-menu__header__icon {
        padding-top: rem(5px);
        font-size: $icon-size-close;
        cursor: pointer;
        border: none;
        background: transparent;
        color: $primary100;
    }

    .filter-menu__body {
        padding: rem(32px) rem(40px) rem(415px) rem(40px);
    }
    

    // --- SECCION 1: No DE POLIZA ---
    .filter-menu__body__sec1 {
        margin-bottom: rem(32px);
        position: relative;
    }

    .filter-menu__body__title1 {
        margin-bottom: rem(8px);
        @include font-styles($font-weight: 700, $font-size: rem(16px), $color: $titleSection-filterMenu);
    }

    .filter-menu__body__select1 {
        @include menu-filter-field();
        @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $grey50);
        appearance: none;
    }

    .filter-menu__body__chevDown1 {
        color: $primary100;
        font-size: $icon-size-chevDown;
        margin-top: rem(5px);
        padding-right: rem(5px);
    }


    // --- SECCION 2: NOMBRE DEL RIESGO ---
    .filter-menu__body__sec2 {
        margin-bottom: rem(32px);
        position: relative;
    }

    .filter-menu__body__title2 {
        margin-bottom: rem(8px);
        @include font-styles($font-weight: 700, $font-size: rem(16px), $color: $titleSection-filterMenu);
    }

    .filter-menu__body__input1 {
        @include menu-filter-field();
        @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $grey50);
    }

    
    // --- SECCION 3: RANGO DE FECHAS ---
    .filter-menu__body__sec3 {
        margin-bottom: rem(32px);
        position: relative;
    }

    .filter-menu__body__date-range {
        justify-content: space-between;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .filter-menu__body__date-field {
        position: relative;
        display: inline-block;
    }

    .filter-menu__body__title3 {
        margin-bottom: rem(8px);
        @include font-styles($font-weight: 700, $font-size: rem(16px), $color: $titleSection-filterMenu);
    }

    .filter-menu__body__input2 {
        @include menu-filter-field($width: rem(177px));
        @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $grey50);
        padding-right: rem(36px);
    }

    .separation {
        @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $text4);
    }

    .filter-menu__body__input3 {
        @include menu-filter-field($width: rem(177px));
        @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $grey50);
        padding-right: rem(36px);
    }


    // --- SECCION 4: IMPORTE ---
    .filter-menu__body__sec4 {
        margin-bottom: rem(32px);
        position: relative;
    }

    .filter-menu__body__title4 {
        margin-bottom: rem(8px);
        @include font-styles($font-weight: 700, $font-size: rem(16px), $color: $titleSection-filterMenu);
    }

    .filter-menu__body__input4 {
        @include menu-filter-field();
        @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $grey50);
    }


    // --- SECCION 5: ESTADO DE PÓLIZA ---
    .filter-menu__body__sec5 {
        position: relative;
    }

    .filter-menu__body__title5 {
        margin-bottom: rem(8px);
        @include font-styles($font-weight: 700, $font-size: rem(16px), $color: $titleSection-filterMenu);
    }

    .filter-menu__body__select2 {
        @include menu-filter-field();
        @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $grey50);
        appearance: none;
    }

    .filter-menu__body__chevDown2 {
        color: $primary100;
        font-size: $icon-size-chevDown;
        margin-top: rem(5px);
        padding-right: rem(5px);
    }



    .icon.chev-down-policy,
    .icon.chev-down-status {
        font-size: $icon-size-chevDown;
        position: absolute;
        top: 58%;
        right: rem(12px);
        pointer-events: none;
    }

    .icon.calendar {
        position: absolute;
        right: rem(12px);
        top: 50%;
        transform: translateY(-50%);
        font-size: $icon-size-calendar;
        pointer-events: none;
        color: $primary100;
    }

    .filter-menu__bottom {
        display: flex;
        justify-content: space-between;
        padding: rem(20px) rem(40px);
        border-top: 1px solid $border-bottom-renovations-header;
    }

    .filter-menu__bottom__clear {
        padding: rem(10px) rem(16px);
        border: 1px solid $primary50;
        @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $info-text);
        @include button-styles($background-color: transparent);
    }

    .filter-menu__bottom__apply {
        padding: rem(10px) rem(16px);
        @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $info-text);
        @include button-styles($background-color: $primary25);
        border: none;
    }
}