@use '../helpers/variables' as *;
@use '../helpers/icons-variables' as *;
@use '../helpers/mixins' as *;


.filter-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 496px;
    height: 100vh;
    background-color: red;
    box-shadow: 0 0 0 100vmax #00000029;

    @include mobile {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
    }
}