@use '../helpers/variables' as *;
@use '../helpers/icons-variables' as *;
@use '../helpers/mixins' as *;

.right-nav-buttons {
  display: flex;
  align-items: center;
  gap: 2.5rem; 
  height: 2.5rem;

  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;           
    text-decoration: none;    
    background: none;
    border: none;
    .user {
      font-size: $icon-size-user;
    }
    .globe {
      font-size: $icon-size-globe;      
    }
    .arrow-dropdown {
      padding-left: 8px;
      font-size: $icon-size-arrowDropdown;
    }
    .text {
      @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100);
    }
  }
  .burguer-menu {
    display: none;
  }
  @include mobile {
    gap: 1rem;       
    .arrow-dropdown, .globe, .text { 
      display: none;
    }
    .burguer-menu {   // MOSTRAR menu-burguer
      display: inline-block; 
    }
  }

  @include tablet {
    gap: 1rem;       
    .arrow-dropdown, .globe, .text { 
      display: none;
    }
    .burguer-menu {   // MOSTRAR menu-burguer
      display: inline-block;
      font-size: $icon-size-burguerMenu;
    }
  }
  @include desktop {
    gap: 1rem;       
    .arrow-dropdown, .globe, .text { 
      display: none;
    }
    .burguer-menu {   // MOSTRAR menu-burguer
      display: inline-block;
      font-size: $icon-size-burguerMenu;
    }
  }
}

