@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;

.buttons-left {
  display: flex;
  align-items: center;
  height: 64px;

  .logo {
    width: 120px;
    height: auto;
  }
  .directions {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .link {
    @include font-styles($font-weight: bold, $font-size: 16px, $color: $grey100);
    text-decoration: none;
  } 

  @include mobile-md-only {
    .link {
      display: none;
    }
  }
}