@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;
@use '../helpers/icons-variables' as *;

.footer {
    padding: rem(16px) rem(32px);
    background-color: white; 

    @include tablet {
        padding: rem(16px);
        .footer-info {
            display: flex;
            flex-direction: column;
        }
        .footer-contact__direction {
            margin-top: rem(10px);
        }
    }

    @include mobile {
        padding: rem(16px);
        margin-bottom: rem(10px);
        .footer-info {
            display: flex;
            flex-direction: column;
        }
        .footer-contact__direction {
            margin-top: rem(10px);
        }
        .footer-marc .footer-marc__text {
            @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100);
        }
    }
}

.footer-info {
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr); 
}

.footer-contact__question {
    @include font-styles( $font-weight: 700, $font-size: 16px, $color: $primary100);
}
.footer-contact__email {
    display: flex;
    align-items: center;
    margin-top: rem(12px);
    @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100); 
    .footer-contact__email-icon {
        font-size: $icon-size-mail;
    }
}
.footer-contact__phone {
    display: flex;
    align-items: center;
    margin-top: rem(12px);
    @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100); 
    .footer-contact__phone-icon {
        font-size: $icon-size-phone;
    }
}
.footer-contact__email-icon,
.footer-contact__phone-icon {
    margin-right: rem(5px);
}



.footer-direction {
    margin-top: rem(22.5px);
    display: flex;
    justify-self: end;
    @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100); 
    .footer-contact__direction {
        display: flex;
        flex-direction: column;
    }
    .footer-contact__direction-country {
        margin-bottom: rem(12px);
    }
}
.footer-legal {
    margin-top: rem(32px);
    a {
        @include font-styles( $font-weight: 500, $font-size: 10px, $color: $grey100);
        text-decoration: none;
    }
    .separation {
        margin-inline: rem(24px);
    }

    @include desktop {
        .separation {
            margin-inline: rem(14px);
        }
    }

    @include tablet {
        display: flex;
        flex-direction: column;
        a {
            @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100);
        }
        .middle {
            margin: rem(14px) 0;
        }
        .separation {
            display: none;
        }
    }

    @include mobile {
        display: flex;
        flex-direction: column;
        a {
            @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100);
        }
        .middle {
            margin: rem(14px) 0;
        }
        .separation {
            display: none;
        }
    }
}
.footer-marc {
    margin-top: rem(32.5px);
    display: flex;
    justify-self: end;
    text-align: right;

    .footer-marc__text {
        @include font-styles( $font-weight: 400, $font-size: 10px, $color: $grey100);
    }

    @include tablet {
        .footer-marc__text {
            @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100);
        }
    }
}
