@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;
@use '../helpers/icons-variables' as *;

.footer {
    padding: rem(16px) rem(32px);
    background-color: white;

    @include tablet {
        padding: rem(16px);
    }

    @include mobile {
        margin-bottom: rem(10px);
    }

    .footer-info {
        margin: 0 auto;
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

        @include tablet {
            display: flex;
            flex-direction: column;
        }
    }

    .footer-contact__question {
        @include font-styles($font-weight: 700, $font-size: 16px, $color: $primary100);
    }

    .footer-contact__email {
        display: flex;
        align-items: center;
        margin-top: rem(12px);
        @include font-styles($font-weight: 400, $font-size: 16px, $color: $text);
    }

    .footer-contact__phone {
        display: flex;
        align-items: center;
        margin-top: rem(12px);
        @include font-styles($font-weight: 400, $font-size: 16px, $color: $text);
    }

    .footer-contact__email-icon {
        margin-right: rem(5px);
        font-size: $icon-size-mail;
    }

    .footer-contact__phone-icon {
        margin-right: rem(5px);
        font-size: $icon-size-phone;
    }

    .footer-direction {
        margin-top: rem(22.5px);
        display: flex;
        justify-self: end;
        @include font-styles($font-weight: 400, $font-size: 16px, $color: $text);
        @include mobile {
            margin-top: rem(43.5px);
        }
    }

    .footer-contact__direction {
        display: flex;
        flex-direction: column;

        @include tablet {
            margin-top: rem(10px);
        }
    }

    .footer-contact__direction-country {
        margin-bottom: rem(12px);
    }

    .footer-legal {
        margin-top: rem(32px);

        @include tablet {
            display: flex;
            flex-direction: column;
        }
    }

    .footer-legal a {
        @include font-styles($font-weight: 500, $font-size: 10px, $color: $text);
        text-decoration: none;

        @include tablet {
            @include font-styles($font-weight: 400, $font-size: 16px, $color: $text);
        }

    }

    .footer-legal .separation {
        @include font-styles($font-weight: 400, $font-size: 16px, $color: $border-filterMenu-option);
        margin-inline: rem(24px);

        @include desktop {
            margin-inline: rem(14px);
        }

        @include tablet {
            display: none;
        }
    }

    .footer-legal .middle {
        @include tablet {
            margin: rem(24px) 0;
        }
    }

    .footer-marc {
        margin-top: rem(32.5px);
        display: flex;
        justify-self: end;
        text-align: right;
        @include mobile {
            margin-top: rem(18px);
        }
    }

    .footer-marc .footer-marc__text {
        @include font-styles($font-weight: 500, $font-size: 10px, $color: $text);

        @include tablet {
            @include font-styles($font-weight: 400, $font-size: 16px, $color: $text);
        }
    }
}
