.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;                    // espacio entre logo y botones (opcional, pero útil)
  img {
    height: 64px;          // Limita la altura máxima a 64px
    width: 87.89px;               // Mantiene la proporción original (clave)
  }
}

.buttons1,
.navbar_buttons2 {
  display: flex;                // ← clave: alinea los <a> en fila
  align-items: center;          // centra verticalmente el contenido
  gap: 2rem;                    // espacio entre los enlaces (ajusta según diseño)
}

.navbar_buttons2 a {
  color: rgb(139, 53, 53);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;

}

.rightNavButtons{  
  display: flex;
  align-items: center;
  gap: 2.5rem; 
  height: 40px;
  padding-right: 88px;
  
  a{
    display: flex;        //- EN FILA
    align-items: center;  //- CENTRA HORIZONTALMENTE
    gap: 0.5rem;           
    text-decoration: none;    
  }   
  .user, .globe {
    font-size: 24px;      
  }
  .arrow-down{
    padding-left: 8px;
    font-size: 6px;
  }
  p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #405258;
  }
}


