@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;

.navbar { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 88px 16px 88px;
}

.buttonsLeft{
  display: flex;                // EN FILA
  align-items: center;          // CENTRA VERTICALMENTE
  gap: 2rem; 
  height: 64px; 
  .logo {
    padding-right: 32px;
  } 
  .link {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #405258;
    text-decoration: none;;
  }           
}




.rightNavButtons{  
  display: flex;
  align-items: center;
  gap: 2.5rem; 
  height: 40px;
  
  button{
    display: flex;        //- EN FILA
    align-items: center;  //- CENTRA HORIZONTALMENTE
    gap: 0.5rem;           
    text-decoration: none;    
    background: none;
    border: none;
  }   
  .user, .globe {
    font-size: 24px;      
  }
  .arrow-down{
    padding-left: 8px;
    font-size: 6px;
  }
  p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #405258;
  }
}


