@use '../helpers/mixins' as *;
@use '../helpers/icons-variables' as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 1rem 5.5rem;

  @include tablet {
    
  }

  @include mobile {
    padding: 16px 16px 18px 12px;
    height: 5rem;
  }
}