@use '../helpers/mixins' as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 88px;
  @include mobile-md-only {
    padding: 17px 22px;
    flex-wrap: wrap;    
  }
}