@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;

.home {
    background-color: $body-background-color;    
    
    .title-renovations {
        @include font-styles( $font-weight: 500, $font-size: 24px, $color: $grey100);
        margin-bottom: 2rem;
        @include tablet {
            margin-bottom: 1rem;
        }
    }

    .title-clients {
        @include font-styles( $font-weight: 500, $font-size: 24px, $color: $grey100);
        margin: 1.5rem 0;
    }
}

.home-content {
    padding: 40px 24px 80px 24px;
    @include tablet {
        padding: 16px 16px 24px 16px;
    }
}


.view-more-button {
    display: flex;

    @include mobile {
        margin-top: 1.5rem;
    }

    .main-button {
        @include button-styles($background-color: $primary25);
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100);
        padding: 0.625rem 1rem;
        border: none;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            @include button-styles($background-color: $primary100);
        }
        &:active {
            @include button-styles($background-color: $primary100);
            transform: translateY(2px);
        }
    }
}
