@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;

.home {
  background-color: $body-background-color;    
}

.title-renovations {
    @include font-styles( $font-weight: 500, $font-size: 24px, $color: $grey100);
    margin: 40px 0 32px 24px;
}

.title-clients {
    @include font-styles( $font-weight: 500, $font-size: 24px, $color: $grey100);
    margin: 40px 0 16px 24px;
}

.renovations-desktop {
    display: block;
}
.renovations-mobile {
    display: none;
}

.view-more-button {
    margin: 40px 0 40px 24px;
    display: flex;
    .main-button {
        @include button-styles($background-color: $primary25);
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100);
        padding: 10px 16px;
        border: none;
        cursor: pointer;
    }
}

@include desktop {
    .title-renovations {
        margin: 16px 0 16px 16px;
    }

    .renovations-desktop {
        display: none;
    }
    .renovations-mobile {
        display: block;
    }
}

@include tablet {
    .title-renovations {
        margin: 16px 0 16px 16px;
    }

    .renovations-desktop {
        display: none;
    }
    .renovations-mobile {
        display: block;
    }
}
@include mobile {
    .title-renovations {
        margin: 16px 0 16px 16px;
    }

    .renovations-desktop {
        display: none;
    }
    .renovations-mobile {
        display: block;
    }

    .view-more-button {
        margin: 24px 16px;
    }
}
