@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;
@use '../helpers/icons-variables' as *;

.renovations {
    background-color: $body-background-color;
    padding: 10px 24px 80px 24px;
    @include mobile {
        padding: 9px 16px 9px 16px;
    }
}
.renovation-list-header {
    padding-bottom: 40px;
    .renovations-filter-top {
        margin-top: 35px;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 12px;
    }
    @include mobile {
        padding-bottom: 24px;
    }
}

.apply-filters {
    display: flex;
    align-items: center;
    width: max-content;
    .apply-filters__filter1, .apply-filters__filter2, .apply-filters__filter3 {
        display: inline-flex;
        align-items: center;
        column-gap: 8px;
        margin-left: 12px;
        padding-inline: 16px;
        height: 36px;
        border-radius: 99px;
        background-color: $primary100;
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $light);
    }

    .apply-filters__filter3 > .number {
        width: 28px;
        height: 28px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        background-color: $light;
        @include font-styles( $font-weight: 600, $font-size: 16px, $color: $primary100);
    }
    .icon {
        display: inline-flex;
        align-items: center;
        font-size: $icon-size-closeWhite;
    }
}


.renovations-filter__all-filters {
    padding: 10px 16px;
    border: 1px solid $primary50;
    @include button-styles($background-color: $body-background-color, $border-radius: 8px);
    display: inline-flex;
    align-items: center;
    .icon {
        font-size: $icon-size-filter;
    }
    .renovations-filter__all-filters__text {
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100);
    }

    @include mobile {    // ASI IGNORA LOS margin Y paddings ANTERIORES
        width: 100%;
        margin-left: 0;
        justify-content: center;
        border-radius: 0;
        border: none;
        border-top: 1px solid $primary50;
        background-color: $light;
        .renovations-filter__all-filters__text {
            @include font-styles( $font-weight: 700, $font-size: 16px, $color: $grey100);
        }
    }
}

.renovations-filter-bottom {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .renovations-filter__list__order-by {
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey75);
    }

    @include mobile {
        order: 1;
        flex-direction: column;
        align-items: flex-start;
    }
}

.renovations-filter__all-policies {
    display: flex;
    align-items: center;
    .renovations-filter__all-policies__text-results,
    .renovations-filter__all-policies__text-filters {
        margin-right: 16px;
        @include font-styles( $font-weight: 700, $font-size: 16px, $color: $grey100);
    }
    .separation {
        margin-right: 16px;
        @include font-styles( $font-weight: 700, $font-size: 16px, $color: $grey75);
    }
    .renovations-filter__all-policies__clear-filters {
        @include font-styles( $font-weight: 700, $font-size: 16px, $color: $primary100);
    }

}

.renovations-filter__list__type-filter {
    width: 162px;
    height: 44px;
    margin-left: 14px;
    background-color: $light;
    border: 1px solid $primary50;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    position: relative;

    .renovations-filter__list__select {
        @include font-styles( $font-weight: 700, $font-size: 16px, $color: $grey100);
        background-color: transparent;
        border: none;
        padding: 12px 36px 12px 12px;
        appearance: none;
        cursor: pointer;
    }
    .renovations-filter__list__select:focus {
        outline: none;
    }

    .icon {
        position: absolute;
        left: 130px;
        pointer-events: none;
        font-size: $icon-size-chevDown;
    }
}




.all-desktop-renovations {
    @include mobile {
        .home-reservation > .renovation-card-desktop:nth-child(n + 4) {
            display: none;
        }
    }
}

.pagination {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include tablet {
        flex-direction: column;
        align-items: flex-end;
        .pagination__page {
            margin-block: 20px;
        }
        .pagination__page {
            margin-right: 40px;
        }
        .pagination__page-option {
            margin-right: 26px;
        }
    }
    @include mobile {
        display: none;
    }

    .pagination__rows {
        display: flex;
        align-items: center;
        margin-right: 32px;
    }
    .pagination__page-option {
        display: flex;
        align-items: center;
    }
}

.pagination__rows__rows-text {
    margin-right: 12px;
    @include font-styles( $font-weight: 700, $font-size: 16px, $color: $grey100);
}
.pagination__rows__option {
    width: 72px;
    height: 48px;
    border: 1px solid $primary50;  
    justify-content: center; 
    @include button-styles($background-color: $light, $border-radius: 8px);
    @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100);
    .icon {
        font-size: $icon-size-chevDown;
    }
}

.pagination__page {
    margin-right: 32px;
    @include font-styles( $font-weight: 700, $font-size: 16px, $color: $grey100);
}

.pagination__page-option__skip-left,
.pagination__page-option__left,
.pagination__page-option__right,
.pagination__page-option__skip-right {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    justify-content: center; 
    @include button-styles($background-color: $light, $border-radius: 8px);
}

.pagination__page-option__right,
.pagination__page-option__skip-right {
    box-shadow: 0 6px 16px #3746491A;
}

.pagination__page-option__skip-left {
    font-size: $icon-size-skipLeft;
}
.pagination__page-option__left {
    font-size: $icon-size-back;
}
.pagination__page-option__right {
    font-size: $icon-size-arrowRight;
}
.pagination__page-option__skip-right {
    font-size: $icon-size-skipRight;
}


.renovation-list {
    @include mobile {
        padding: 15px 16px 9px 16px;
        display: flex;
        flex-direction: column;
    }
}

.renovations-filter {
    @include mobile {
        display: contents;
    }
}

.renovations-filter-top {
    @include mobile {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
    }
}

.renovations-filter__list {
    @include mobile {
        order: 1;
    }
}

.renovations-filter__all-policies {
    @include mobile {
        margin-top: 24px;
        order: 2;
    }
}




