@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;
@use '../helpers/icons-variables' as *;

.renovations-header {
    padding: 32px 88px 32px 88px;
    border-top: 1px solid #E6E7E8;
}

.renovations-header__menu-subtitle {
        margin-bottom: 44px;
        .renovations-header__menu-subtitle__policies {
            @include font-styles( $font-weight: 400, $font-size: 16px, $color: $primary100);
        }
        .separation {
            margin: 0 5px 0 5px;
            @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey50);
        }
        .renovations-header__menu-subtitle__next-renovations {
            @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey50);
        }
    }

.renovations-header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .renovations-header__menu-title__next-renovations {
        @include font-styles( $font-weight: 400, $font-size: 24px, $color: $grey100);
    }
}

.renovations-header__number-policies {
    padding: 8.5px 12px;
    @include button-styles($background-color: #B7CBD3, $border-radius: 8px);
    display: inline-flex;
    align-items: center;
    width: fit-content;
    .icon {
        font-size: $icon-size-file;
    }
    .renovations-header__number-policies__number {
        margin: 0 4px 0 10px;
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100);
    }
    .renovations-header__number-policies__policies {
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100);
    }
}



@include tablet {
    .renovations-header {
        padding: 24px 109px 30px 16px;
    }
    .renovations-header__menu-subtitle {
        display: none;
    }
    .renovations-header__bottom {
        flex-direction: column;
        align-items: flex-start;
        .renovations-header__number-policies {
            margin-top: 16px;
        }
    }
}

@include mobile {
    .renovations-header {
        padding: 24px 109px 30px 16px;
    }
    .renovations-header__menu-subtitle {
        display: none;
    }
    .renovations-header__bottom {
        flex-direction: column;
        align-items: flex-start;
        .renovations-header__number-policies {
            margin-top: 16px;
        }
    }
}