.policy-header 
    .policy-header__top 
        .policy-header__top__detail Detalle de póliza 
        .policy-header__top__separation /
        .policy-header__top__number 75846843
    .policy-header__bottom
        .policy-header__bottom__name Hyundai ioniq 2021
        .policy-header__bottom__number No. de póliza: 75846843
