.info-container 
  .info-container__top-cards 
    include ../../components/policy/policy-info-owner
    include ../../components/policy/policy-info-direction
  .info-container__last-cuotes 
    .info-container__last-cuotes__title Últimas cuotas
      include ../../components/policy/policy-last-cuotes
  .info-container__bottom-cards 
    include ../../components/policy/policy-info-payMethod
    include ../../components/policy/policy-info-correspondency
    include ../../components/policy/policy-info-contact