@use '../../helpers/variables' as *;
@use '../../helpers/mixins' as *;

.body-header {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: #00000080;
        z-index: 1;
        pointer-events: none;
    }

    .body-header__image-desktop-view {
        width: 100%;
        display: block;

        @include mobile {
            display: none;
        }
    }

    .body-header__image-mobile-view {
        display: none;

        @include mobile {
            width: 100%;
            display: block;
        }
    }


    .body-header__content {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: rem(40px);
        z-index: 2;
        @include desktop {
            margin-bottom: rem(0px);
        }
        @include mobile {
            margin-bottom: rem(24px);
        }
    }

    .body-header__content-title {
        width: rem(695px);
        line-height: 1.2;
        @include font-styles( $font-weight: bold, $font-size: rem(64px), $color: $light);

        @include tablet {
            width: rem(278px);
            @include font-styles( $font-weight: bold, $font-size: rem(40px), $color: $light);
        }
        @include mobile {
            width: 100%;
            padding-inline: rem(40px);
           }
    }

    .body-header__content-description {
        width: 100%;
        padding-top: rem(40px);
        @include font-styles( $font-weight: normal, $font-size: clamp(16px, 2.5vw, 24px), $color: $light);

        @include tablet {
            width: rem(420px);
            padding-top: rem(10px);
        }

        @include mobile {
            padding-inline: rem(108px);
            padding-top: rem(40px);
        }
    }
}
