@use '../../helpers/mixins' as *;
@use '../../helpers/variables' as *;
@use '../../helpers/icons-variables' as *;

.info-payMethod {
    width: 100%;
    min-height: rem(616px);
    padding: rem(24px);
    background-color: $light;
    border-radius: rem(8px);
    display: flex;
    flex-direction: column;
    box-shadow: 0px rem(3px) rem(5px) $box-shadow2;

    @include desktop {
        width: 100%;
        padding: rem(16px);
        min-height: fit-content;
    }

    .info-payMethod__top {
        display: flex;
        justify-content: space-between;
    }

    .info-payMethod__top__title {
        @include font-styles($font-weight: 400, $font-size: rem(24px), $color: $text4);
    }

    .info-payMethod__top__button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: auto;
    }
    .info-payMethod__top__button-icon {
        color: $primary100;
        font-size: $icon-size-edit;
    }
    .info-payMethod__top__button-text {
        margin-left: rem(10px);
        @include font-styles($font-weight: 700, $font-size: rem(16px), $color: $primary100);
    }

    .info-payMethod__bottom__field {
        margin-top: rem(24px);
    }
}