@use '../../helpers/mixins' as *;
@use '../../helpers/variables' as *;
@use '../../helpers/icons-variables' as *;

.info-container {
    background-color: $body-background-color;
    width: 100%;
    padding: rem(40px) rem(88px) rem(80px) rem(88px);

    @include desktop {
        padding: rem(29px) rem(16px) rem(24px) rem(16px);
    }

    .info-container__top-cards {
        display: flex;
        gap: rem(20px);
        width: 100%;

        @include desktop {
            flex-direction: column;
            gap: rem(16px);
        }
    }

    .info-container__last-cuotes__title {
        margin-top: rem(48px);
        @include font-styles($font-weight: 400, $font-size: rem(24px), $color: $text4);
        @include desktop {
            margin-top: rem(32px);
        }
    }

    .info-container__bottom-cards {
        display: flex;
        gap: rem(20px);
        width: 100%;

        @include desktop {
            flex-direction: column;
            gap: rem(16px);
        }
    }
}