@use '../../helpers/icons-variables' as *;
@use '../../helpers/mixins' as *;
@use '../../helpers/variables' as *;

.renovation-card-mobile {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 15px #3746491A;
    border-radius: 12px;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    h2{
        margin-bottom: 0.125rem;
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey75)
    }
    .renovation-card-mobile__policy, 
    .renovation-card-mobile__risk, 
    .renovation-card-mobile__date-contrat, 
    .renovation-card-mobile__date-maturity {
        @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100)
    } 
    .renovation-card-mobile__price {
        @include font-styles( $font-weight: 700, $font-size: 16px, $color: $grey100)
    }
    .renovation-card-mobile__policy, 
    .renovation-card-mobile__risk, 
    .renovation-card-mobile__date-contrat, 
    .renovation-card-mobile__date-maturity, 
    .renovation-card-mobile__price {
        margin-bottom: 1rem;
    } 
    .state {
        &__icon {
            padding-right: 0.25rem;
        }
        &__warning {
            background-color: $state-warning;
            padding: 0.125rem 0.5rem;
            width: fit-content;
            border-radius: 4px;
            @include font-styles( $font-weight: 400, $font-size: 16px, $color: $grey100);
        }
        &__success {
            background-color: $state-success;
            padding: 0.125rem 0.5rem;
            width: fit-content;
            border-radius: 4px;
            @include font-styles( $font-weight: 400, $font-size: 16px, $color: $state-success-text);
        }
    }

    @include desktop {
        .columns {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;    
            width: 100%;
        }
    }

    @include mobile {
        .columns {
            display: flex;
            flex-direction: column;
            gap: 0.0625rem;    
            width: 100%;
        }
    }
}