@use '../../../helpers/icons-variables' as *;
@use '../../../helpers/mixins' as *;
@use '../../../helpers/variables' as *;

.user-menu-window__option {
    width: rem(375px);
    height: rem(61px);
    display: flex;
    align-items: center;
    border: none;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-top: rem(1px) solid #E6E7E8;
    border-radius: 0 0 rem(12px) rem(12px);
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        display: none;
        left: 0;
        top: 0;
        width: rem(2px);
        height: rem(61px);
        background-color: $primary100;
        transform: translateX(-100%);
    }
    &:hover::before {
        transform: translateX(0);
        display: block;
    }
    &:last-child:hover {
        overflow: hidden;
        text-decoration: none;
    }

    @include mobile {
        border-radius: 0%;
    }
    
    .icon {
        font-size: $icon-size-user;
        color: $primary100;
        padding: rem(17px) rem(14px) rem(20px) rem(24px);
    }
    .user-menu-window__option-text {
        @include font-styles( $font-weight: 400, $font-size: rem(16px), $color: $grey100);
    }
}
