@use '../../../helpers/mixins' as *;
@use '../../../helpers/variables' as *;

.globe-menu-window {
    .globe-menu-window__option {
        background-color: $light;
        border: none;
        width: rem(131px);
        height: rem(39px);
        display: flex;
        align-items: center;
        position: relative;
        border-bottom: rem(1px) solid $border-top-renovations-header;
        cursor: pointer;

        &:hover {
            background-color: $background-number-policies;
        }

        @include tablet {
            border-bottom: none;
        }
    }

    .globe-menu-window__option-text {
        margin-left: rem(24px);
        @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $text2);
    }

    .globe-menu-window__option-top {
        border-radius: rem(12px) rem(12px) 0 0;
    }

    .globe-menu-window__option-bottom {
        border-radius: 0 0 rem(12px) rem(12px);
    }

    .globe-menu-window__option--selected {
        @include font-styles($font-weight: 700, $font-size: rem(16px), $color: $text2);
    }
}