@use '../../../helpers/mixins' as *;
@use '../../../helpers/variables' as *;

.burguer-menu-window__option {
    width: 100%;
    height: rem(61px);
    display: flex;
    align-items: center;
    border: none;
    position: relative;
    background-color: $light;
    border-bottom: rem(1px) solid $border-top-renovations-header;
    border-radius: 0 0 rem(12px) rem(12px);
    text-decoration: none;
    cursor: pointer;
    padding-left: rem(24px);
    color: $primary100;

    &::before {
        content: "";
        position: absolute;
        display: none;
        left: 0;
        top: 0;
        width: rem(2px);
        height: rem(61px);
        background-color: $primary100;
        transform: translateX(-100%);
        
    }
    &:hover {
        text-decoration: none;
    }
    &:hover::before {
        transform: translateX(0);
        display: block;
    }

    @include mobile {
        border-radius: 0 0 0 0;
    }

    .burguer-menu-window__text {
        @include font-styles( $font-weight: 400, $font-size: rem(16px), $color: $grey100);
    }
}


