include ../../components/renovation-car

.home-reservation
    .home-reservation__header
        h2(data-i18n="tabla.poliza") No. de póliza
        h2(data-i18n="tabla.riesgo") Nombre del riesgo
        h2(data-i18n="tabla.contrato") Fecha de contrato
        h2(data-i18n="tabla.vencimiento") Fecha de vencimiento
        h2(data-i18n="tabla.importe") Importe
        h2(data-i18n="tabla.estado") Estado de póliza
    +renovation-card-desktop("75846843", "Hyundai Ioniq", "01/12/2022 ", "14/02/2024", "30.203,76 €")
        .state
            .state__warning
                +state-policy("clock", "Pendiente", "states.pendiente")
    +renovation-card-desktop("75846843", "Hyundai Ioniq", "01/12/2022 ", "14/02/2024", "30.203,76 €")
        .state
            .state__success
                +state-policy("check", "Pagada", "states.pagado")
    +renovation-card-desktop("75846843", "Hyundai Ioniq", "01/12/2022 ", "14/02/2024", "30.203,76 €")
        .state
            .state__success
                +state-policy("check", "Pagada", "states.pagado")
