.body-header 
    img.image-desktop-view(src="../../images/desktop-home-image.jpg" alt="img-homepage")
    img.image-mobile-view(src="../../images/mobile-home-image.jpg" alt="img-homepage")
    .body-header__content
        h1.desktop_body-header__title 
            | Bienvenido a tu área 
            br  
            | personal
        p.desktop_body-header__description Gracias a ti más personas pueden disfrutar de una vida más segura.


        h1.mobile_body-header__title 
            | Bienvenido a
            br
            | tu área personal
        p.mobile_body-header__description 
            | Gracias a ti más personas 
            br
            | pueden disfrutar de una 
            br
            | vida más segura.