.body-header 
    img.body-header__image-desktop-view(src="../../images/desktop-home-image.jpg" alt="img-homepage")
    img.body-header__image-mobile-view(src="../../images/mobile-home-image.jpg" alt="img-homepage")
    .body-header__content
        h1.body-header__content-title Bienvenido a tu área personal
        p.body-header__content-description Gracias a ti más personas pueden disfrutar de una vida más segura.

