include ../../components/potent-clients

.client-list 
    +potential-clients('José Carlos Rodríguez', 'Producto a ofrecer: Seguro de moto', 
        'trash', `Email: jose.rod@gmail.com`, 
        `Teléfono: +34 258 632 555`)
    +potential-clients('Ana Perffeti', 'Producto a ofrecer: Seguro de casa', 
        'trash', `Email: ana.per@gmail.com`, 
        `Teléfono: +34 258 632 444`)