@use '../../helpers/variables' as *;
@use '../../helpers/icons-variables' as *;
@use '../../helpers/mixins' as *;

.buttons-left {
  display: flex;
  align-items: center;
  height: rem(64px);

  .logo {
    padding-right: rem(32px);
  }

  .directions {
    display: flex;
    align-items: center;
    gap: rem(32px);
    
  }
  .link {
    @include font-styles($font-weight: bold, $font-size: 16px, $color: $grey100);
    text-decoration: none;
    cursor: pointer;
    @include mobile {
      display: none;
    }
    @include tablet {
      gap: rem(16px);    
        display: none;
    }
  } 
}