@use '../../helpers/variables' as *;
@use '../../helpers/icons-variables' as *;
@use '../../helpers/mixins' as *;

.right-nav-buttons {
  display: flex;
  align-items: center;
  gap: rem(40px);
  height: rem(40px);

  button {
    display: flex;
    align-items: center;
    gap: rem(8px);
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
  }

  .user {
    padding: 1px;
    font-size: $icon-size-user;
    @include desktop {
      border-radius: 99px;
      background-color: $background-user-button;
    }
  }
  .globe {
    font-size: $icon-size-globe;
  }
  .arrow-dropdown {
    padding-right: rem(8px);
    font-size: $icon-size-arrowDropdown;
  }

  .title {
    @include font-styles($font-weight: 400, $font-size: 16px, $color: $text2);
  }
  .text {
    @include font-styles($font-weight: 400, $font-size: 16px, $color: $text2);
  }

  @include desktop {
    gap: rem(16px);
  }

  .burguer-button {
    display: none;

    @include tablet {
      display: inline-block;
      font-size: $icon-size-burguerMenu;
      padding-right: rem(5.008px);
      margin-top: rem(5px);
    }
  }

  .arrow-dropdown {
    @include desktop {
      display: none;
    }
  }
  .globe {
    @include tablet {
      display: none;
    }
  }
  .title {
    width: rem(59px);
    @include desktop {
      display: none;
    }
  }
  .user-button {
    .title {
      @include font-styles($font-weight: 400, $font-size: 16px, $color: $text);
    }
  }

  .globe-button {
    .title {
      @include font-styles($font-weight: 400, $font-size: 16px, $color: $text);
    }

    @include tablet {
      display: none;
    }
  }

  .close {
    display: none;

    .icon {
      filter: hue-rotate(240deg) saturate(1.5);
    }
    @include mobile {
      display: none;
      font-size: 24px;
    }
  }
}

.right-nav-buttons.mobile-user-open,
.right-nav-buttons.mobile-burguer-open {
  @include mobile {
    .close {
      margin-right: rem(3px);
      display: flex;
      align-items: center;
      align-self: center;
    }
    .close .icon {
      filter: hue-rotate(240deg) saturate(1.5);
    }
    .user-button,
    .burguer-button {
      display: none;
    }
  }
}

