@use '../../helpers/variables' as *;
@use '../../helpers/icons-variables' as *;
@use '../../helpers/mixins' as *;

.right-nav-buttons {
  display: flex;
  align-items: center;
  height: rem(40px);

  .right-nav-buttons__user-button,
  .right-nav-buttons__globe-button,
  .right-nav-buttons__burguer-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: rem(8px);
    background: none;
    border: none;
    cursor: pointer;
    color: $primary100;
  }

  .right-nav-buttons__burguer-button {
    display: none;

    @include tablet {
      display: inline-block;
      font-size: $icon-size-burguerMenu;
      margin-top: rem(5px);
    }
  }

  .right-nav-buttons__globe-button {
    margin-left: rem(24px);
    @include tablet {
      display: none;
    }
  }

  .right-nav-buttons__burguer-button {
    margin-left: rem(16px);
  }

  .icon-menu-user {
    width: rem(32px);
    height: rem(32px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-user-button;
    border-radius: 99px;
  }


  .user-button__title,
  .globe-button__title {
    @include font-styles($font-weight: 400, $font-size: rem(16px), $color: $text);

    @include desktop {
      display: none;
    }
  }


  // --- ICONOS ---
  .icon-menu-user {
    font-size: $icon-size-user;
  }

  .icon-arrow {
    font-size: $icon-size-arrowDropdown;

    @include desktop {
      display: none;
    }
  }

  .icon-menu-globe {
    font-size: $icon-size-globe;

    @include tablet {
      display: none;
    }
  }

  .icon-close {
    display: none;
  }
}


// --> SE LLAMA DESDE toggles.js PARA QUE CUANDO SE ABRA EL MENU DE USUARIO O DE BURGUER, APAREZCA EL ICONO DE CERRAR Y DESAPAREZCAN LOS BOTONES DE USUARIO Y BURGUER
.right-nav-buttons.mobile-user-open,
.right-nav-buttons.mobile-burguer-open {
  @include tablet {
    .icon-close {
      display: flex;
      align-items: center;
      align-self: center;
      margin-right: rem(6px);
      color: $primary100;
      font-size: $icon-size-close;
    }

    .right-nav-buttons__user-button,
    .right-nav-buttons__burguer-button {
      display: none;
    }
  }
}