@use '../../helpers/variables' as *;
@use '../../helpers/icons-variables' as *;
@use '../../helpers/mixins' as *;

button {
  display: flex;
  align-items: center;
  gap: rem(8px);           
  text-decoration: none;    
  background: none;
  border: none;
  cursor: pointer;
  .user {
    font-size: $icon-size-user;
  }
  .globe {
    font-size: $icon-size-globe;      
  }
  .arrow-dropdown {
    padding-right: rem(8px);
    font-size: $icon-size-arrowDropdown;
  }

  .title {
    @include font-styles( $font-weight: 400, $font-size: 16px, $color: $text2);
  }
  .text {
    @include font-styles( $font-weight: 400, $font-size: 16px, $color: $text2);
  }
}
  
.right-nav-buttons {
  display: flex;
  align-items: center;
  gap: rem(40px); 
  height: rem(40px);

  @include desktop {
    gap: rem(16px);
  }

  @include tablet {
    gap: rem(16px);
  }

  
  .burguer-button {
    display: none;

    @include tablet {   // MOSTRAR menu-burguer
      display: inline-block;
      font-size: $icon-size-burguerMenu;
      padding-right: rem(5.008px);
      margin-top: rem(5px);
    }
  }

  .arrow-dropdown {
    @include desktop {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  .globe {
    @include tablet {
      display: none;
    }
  }

  .title {
    @include desktop {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  .globe-button {
    @include tablet {
      display: none;
    }
  }

  .close {
    display: none;
    .icon {
      filter: hue-rotate(240deg) saturate(1.5);   // PARA FORZAR EL COLOR AZUL
    }

    @include mobile {
      display: none;          // POR DEFECTO ESTE BOTON ESTA OCULTO
      font-size: 24px;
    }
  }

  @include mobile {
    // --- KEY --- 
    // SE LLAMARA A ESTOS ESTADOS DESDE main.js Y ASI TRABAJAR CON ELLOS.
    &.mobile-user-open, &.mobile-burguer-open {        
      .close {
        margin-right: rem(3px);
        display: inline-block;
        .icon {
          filter: hue-rotate(240deg) saturate(1.5);   // PARA FORZAR EL COLOR AZUL
        }
      }
      .user-button,
      .burguer-button {
        display: none;
      }
    }
  }
}

